@import url('https://fonts.googleapis.com/css2?family=Domine&family=Inter&family=Open+Sans&family=Poppins:wght@500&family=Raleway:wght@500;700&family=Roboto+Condensed&family=Spline+Sans&display=swap');



body {
    font-family: 'Domine', serif;

}

/* *************** Influencer Start **************** */

.main-header h3 {
    margin-right: 950px;
    margin-bottom: 135px;
    font-size: 24px;

}

.container {

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;



}

.influencer {
    margin-bottom: 100px;
}



.influencer-left {
    width: 587px;
    height: 280px;

}

.influencer-left p {
    font-size: 16px;
}

.influencer {
    display: flex;
}

.influencer-left h1 {
    line-height: 20px;
    font-size: 52px;
    /* letter-spacing: 0.010em; */
}

.influencer-left button {
    background-color: #1C8D73;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 16px;

}

.influencer-right img {

    width: 440px;
    height: 414px;
    position: relative;
    margin-left: 128px;



}

/* *************** Influencer End **************** */


/* *************** Collection Start **************** */

.popular-collection {
    margin-bottom: 100px;
}

.popular-collection h1 {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 30px;

}

.all-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin-bottom: 50px;
}


.images {
    width: 329px;
    height: 450px;
    box-shadow: 10px 10px 30px black;
    padding-left: 9%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px;
}


.collection-images img {
    width: 300px;
    height: 256px;

}

.images-info h3 {
    font-size: 28px;
    line-height: 20px;
    color: #1C8D73;

}

.images-info .dollar {
    font-size: 24px;
    line-height: 10%;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
}

.images-info .ratings {
    color: #FB8200;
    ;
}

.images-info p {
    font-size: 14px;
    line-height: 40%;
    color: #787885;
    font-weight: bold;



}

span {
    color: #02B290;
    font-size: 15px;
    margin-left: 5px;
}

.ratings i {
    font-size: 10px;
}

.ratings {
    display: flex;
    align-items: center;
}

.image-more {

    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    color: #1C8D73;
}

.image-more .arrow {
    color: #1C8D73;
}



.footer-sec {
    width: 100%;
    height: 239px;
    background-color: #0A0826;

}

.footer-info {
    color: #1C8D73;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    font-weight: bolder;
}

.footer-info .social-platform i {
    padding: 5px;
}